# Configuration for the typos spell checker utility (<https://github.com/crate-ci/typos>).

[files]
extend-exclude = [
  # Generated sources
  "uefi/src/proto/device_path/device_path_gen.rs"
]

[default]
extend-ignore-identifiers-re = [
  # uefi-raw/src/protocol/device_path.rs
  "PnP"
]

[default.extend-words]
# ./uefi-test-runner/src/proto/device_path.rs:92:14
HD = "HD"

[default.extend-identifiers]
# We sometimes use "typ" as "type" is a reserved keyword
typ = "typ"

