[package]
name = "uefi"
version = "0.20.0"
authors = ["The Rust OSDev team"]
readme = "README.md"
edition = "2021"
description = "Safe and easy-to-use wrapper for building UEFI apps."
repository = "https://github.com/rust-osdev/uefi-rs"
keywords = ["uefi", "efi"]
categories = ["embedded", "no-std", "api-bindings"]
license = "MPL-2.0"
rust-version = "1.68"

[features]
default = ["panic-on-logger-errors"]
alloc = []
global_allocator = []
logger = []
# Ignore text output errors in logger as a workaround for firmware issues that
# were observed on the VirtualBox UEFI implementation (see uefi-rs#121).
# In those cases, this feature can be excluded by removing the default features.
panic-on-logger-errors = []
# Generic gate to code that uses unstable features of Rust. You usually need a nightly toolchain.
unstable = []

[dependencies]
bitflags = "1.3.1"
derive_more = { version = "0.99.17", features = ["display"] }
log = { version = "0.4.5", default-features = false }
ptr_meta = { version = "0.2.0", default-features = false }
ucs2 = "0.3.2"
uefi-macros = "0.11.0"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
