name: QA

on: [ push, pull_request ]

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      # Executes "typos ."
      - uses: crate-ci/typos@v1.13.20
